@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&family=Montserrat+Alternates:wght@200;300&family=Orbitron:wght@400;700&family=Poppins:wght@200;300;500&family=Roboto:wght@100;300;500&family=Yeseva+One&display=swap');

body {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
}

/*Nav bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 18px 15%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.logo {
    cursor: pointer;
}

.logo-img{
    padding-top: 10px;
    max-width: 100px;
    width: 100%;
}


.category {
    list-style: none;
}

.category li {
    display: inline-block;
    padding: 0px 30px;
}

.li,a {
    color: white;
    text-decoration: none;
}

/*Main body styles*/
.main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.79),rgba(0, 0, 0, 0.755)), url(https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1768&q=80);
    background-position: center;
    background-size: cover;
    padding-left: 15%;
    padding-right: 15%;
    gap: 15px;
}


.name {
    font-family: 'Poppins', sans-serif;
    font-size: 88px;
    font-weight: 300;
    line-height: 98%;
    text-align: left;
    width: 100%;
    color: white;
    padding-top: 28%;
    margin-bottom: 8vh;
    margin-top: 0;
}

.MMS{
    font-size: 160px;
}

.sub-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    color: rgba(255, 255, 255, 0.866);
    display: block;
    overflow: hidden;
    border-right: .15em solid #A98760;
    /* The typwriter cursor */
    margin: 0 auto;
    letter-spacing: 0.08em;
    animation: typing 2.5s forwards;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

.description {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #A98760;
    margin-bottom: 10vh;
    padding-bottom: 5vh;
    display: flex;
}

.main-sns{
    font-style: italic;
    color: #A98760;
}

/**introduction**/
.introduction{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    margin: 15% 25%;
    gap: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.intro-img{
    max-width: 500px;
    width: 100%;
}

.intro-text p{
    margin-bottom: 8%;
}

.intro-text h4{
    margin-bottom: 0;
    padding-bottom: 0;
}

.learn-more{
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    padding: 15px 30px;
}

.email{
    color: #A98760;
}

.contact-email{
    font-style: italic;
    color: #A98760;
}

/**Services*/
.services {
    margin: 15% 25%;
    gap: 400px;
}

.services p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.services h5{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

.row {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 2%;
}

.column{
    transition: transform .2s;
    width: 500px;
    height: 500px;
    border: 0.5px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
}

.column:hover{
    transform: scale(1.06);
}

.column h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.column p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
}

/**project-description**/
.project-desc{
    padding: 5% 25%;
    text-align: center;
}

.project-desc:hover{
    animation-name: color-change;
    animation-duration: 1.5s;
}

@keyframes color-change{
    0%{
        color: #A98760;
    }20%{
        color: rgb(0, 0, 0);
    }40%{
        color: #A98760;
    }60%{
        color: rgb(0, 0, 0);
    }80%{
        color: #A98760;
    }100%{
        color: rgb(0, 0, 0);
    }
}

.project-desc h1{
    font-family: 'Bodoni Moda', serif;
    font-size: 54px;
    font-weight: 500;
}

.project-desc p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
    text-align: center;
    margin-bottom: 3%;
}

/**Projects*/
.project-section{
    margin: 100px 20%;
}

.project-section p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
    text-align: center;
    margin-bottom: 3%;
}

.project-thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.container{
    position: relative;
    width: 100%;
    max-width: 200px;
    padding: 90px 90px;
}

.project{
    width: 100%;
    max-width: 200px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.container:hover .project {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.project-name{
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 16px 15px;
}

/*Footer*/
.footer-distributed{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 16px 'Poppins', sans-serif;
    font-weight: 300;
    padding-bottom: 13px;
    padding-top: 13px;
    display: flex;
    justify-content: space-around;
    color:  #ffffff;
    vertical-align: top;
    background-color: #A98760;
}
  

  
  
/*Macbook Ver*/

@media (min-width: 601px) and (max-width: 1900px) {
    header{
        padding: 18px 5%;
    }

    .main{
        padding-right: 5%;
        padding-left: 5%;
    }

    .name {
        font-size: 75px;
        padding-top: 16%;
    }

    .MMS{
        font-size: 90px;
        font-weight: 500;
    }

    .sub-heading {
        font-size: 16px;
    }

    .description{
        font-size: 16px;
    }

    .introduction{
        margin: 15% 5%;
    }

    .services {
        margin: 10% 5%;
    }

    .column p{
        font-size: 16px;
    }

    .project-desc h1{
        font-size: 36px;
    }

    .project-section{
        margin: 10% 5%;
    }

}

/*Mobile Ver*/

@media (max-width: 600px) {
    .category {
       display: none;
    }

    .name {
        font-size: 45px;
        line-height: 120%;
    }

    .sub-heading {
        font-size: 14px;
        animation: none;
    }

    .introduction{
        flex-direction: column;
    }

    .row {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .project-desc{
        display: none;
    }

    .project-thumbnail{
        flex-direction: column;
    }

    .footer-distributed{
        flex-direction: column;
        text-align: left;
    }
}
