@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&family=Montserrat+Alternates:wght@200;300&family=Orbitron:wght@400;700&family=Poppins:wght@200;300;500&family=Roboto:wght@100;300;500&family=Yeseva+One&display=swap');

body {
    background-color: black;
    color: white;
    margin: 0;
}

/*Nav bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 18px 15%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.logo {
    cursor: pointer;
}

.logo-img{
    padding-top: 10px;
    max-width: 100px;
    width: 100%;
}


.category {
    list-style: none;
}

.category li {
    display: inline-block;
    padding: 0px 30px;
}

.li,a {
    color: white;
    text-decoration: none;
}

.projects{
    margin: 300px 15%;
}

.projects-heading h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin-bottom: 8px;
}

.projects-heading h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 54px;
    color: white;
    margin-top: 0px;
}

.projects-heading p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin-bottom: 150px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-bottom: 60px;
}

.row-img, .description{
    width: 50%;
}

.description{
    margin-bottom: 25px;
}

.details{
    font-size: 11px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 850px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: 300;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.description, .text{
    font-family: 'Poppins', sans-serif;
}

.description h2{
    font-weight: 400;
    font-size: 28px;
}

.description p{
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
}

/*Footer*/
.footer-distributed{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 16px 'Poppins', sans-serif;
    font-weight: 300;
    padding: 60px 50px;
    display: flex;
    color:  #ffffff;
    vertical-align: top;
}

.footer-left, .footer-center, .footer-right{
    flex: 1 1 0;
    width: 0;
}

/**footer-left**/
.footer-left{
    margin-left: 10%;
}

.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-links a:before {
    content: "|";
    font-size: 18px;
    left: 0;
    display: inline-block;
    padding-right: 6px;
}
  
.footer-distributed .footer-links .link-1:before{
    content: none;
}
  
.footer-company-name{
      color:  white;
      font-size: 14px;
      margin: 0;
}
  
  /* Footer Center */
.footer-center i{
    background-color: hsl(32, 30%, 52%);
    font-size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
  
.footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
  
.footer-center p{
    display: inline-block;
    vertical-align: middle;
    margin:0;
}
  
.footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
  
.footer-center p a{
    color: hsl(32, 30%, 52%);
    text-decoration: none;;
}
  
  /* Footer Right */
.footer-right{
    margin-right: 10%;
}

.footer-company-about{
      line-height: 20px;
      font-size: 14px;
      margin: 0;
}
  
.footer-company-about span{
      display: block;
      font-size: 18px;
      margin-bottom: 20px;
}
  
.footer-icons{
      margin-top: 25px;
}
  
.footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  hsl(32, 30%, 52%);
      border-radius: 2px;
  
      font-size: 20px;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
}
  
  

/*Macbook Ver*/

@media only screen and (max-width: 1800px) {
    header{
        padding: 18px 5%;
    }

    .projects{
        margin: 300px 5%;
    }

    .footer-center p{
        display: flex;
        flex-direction: column;
    }
}

/*Mobile Ver*/

@media only screen and (max-width: 860px) {
    .category {
       display: none;
    }

    .row{
        flex-direction: column;
        justify-content: center;
    }

    .row-img, .description{
        width: 100%;
    }

    .footer-distributed{
        flex-direction: column;
        text-align: left;
    }

    .footer-center, .footer-right, .footer-left{
        flex: auto;
        width: auto;
    }

    .footer-left{
        margin-left: 0;
        margin-bottom: 25px;
    }

    .footer-right{
        display: none;
    }
}