@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&family=Montserrat+Alternates:wght@200;300&family=Orbitron:wght@400;700&family=Poppins:wght@200;300;500&family=Roboto:wght@100;300;500&family=Yeseva+One&display=swap');
/*Team Section*/
.main{
    padding-left: 15%;
    padding-right: 15%;
}

.team-heading{
    margin-top: 200px;
    
}

.team-heading h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: white;
    margin-top: 0px;
}

.team-heading p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: white;
    margin-bottom: 150px;
    line-height: 200%;
}

.row {
    position: relative;
    display: flex;
    flex-basis: 1;
    gap: 150px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 200px;
}

.column{
    flex-basis: 100%;
}

.img-box{
    margin-bottom: 30px;
}

.img-box img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    transition: transform .2s;
}

.img-box img:hover {
    transform: scale(1.04);
}

.img-box li,
a {
    text-decoration: none;
}

.sns-list {
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 20px;
}

.column h2 {
    font-style: bold;
    font-size: 24pt;
}

.column h3{
    margin-bottom: 30px;
    font-size: 18pt;
}

.column p{
    font-weight: 300;
    line-height: 190%;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 13pt;
}
  
  
/*Macbook Ver*/
@media only screen and (max-width: 1800px) {
    header{
        padding: 18px 5%;
    }
    .main{
        padding-left: 5%;
        padding-right: 5%;
    }
    .row{
        margin-left: 0;
        margin-right: 0;
        gap: 80px;
    }
    .column p{
        font-size: 12pt;
    }
}

/*Mobile Ver*/
@media only screen and (max-width: 860px) {
    .category {
       display: none;
    }
    .row {
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .footer-distributed{
        flex-direction: column;
        text-align: left;
    }
}
