@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&family=Montserrat+Alternates:wght@200;300&family=Orbitron:wght@400;700&family=Poppins:wght@200;300;500&family=Roboto:wght@100;300;500&family=Yeseva+One&display=swap');
/*Team Section*/
.team {
    margin: 300px 15%;
}

.team-heading h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin-bottom: 8px;
}

.team-heading h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 54px;
    color: white;
    margin-top: 0px;
}

.team-heading p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
    margin-bottom: 150px;
}

.row {
    position: relative;
    display: grid;
    grid-template:
        "a b c";
    grid-auto-columns: 1fr;
    gap: 55px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.img-box{
    margin-bottom: 30px;
}

.img-box img {
    border-radius: 2px;
    width: 100%;
    max-width: 750px;
    height: auto;
    transition: transform .2s;
}

.img-box img:hover {
    box-shadow: rgba(246, 210, 3, 0.268) 0px 3px 8px;
    transform: scale(1.08);
}

.img-box li,
a {
    text-decoration: none;
}

.sns-list {
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 20px;
}

.column h2 {
    font-style: bold;
    font-size: 24px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.column h3{
    margin-bottom: 0px;
    font-size: 18px;
    margin-top: 6px;
}

.column p{
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 16px;
}
  
/*Macbook Ver*/
@media only screen and (max-width: 1800px) {
    .footer-center p{
        display: flex;
        flex-direction: column;
    }

    .team {
        margin: 300px 5%;
        gap: 100px;
    }
}

/*Mobile Ver*/
@media only screen and (max-width: 860px) {
    .category {
       display: none;
    }

    .row {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .footer-distributed{
        flex-direction: column;
        text-align: left;
    }

    .footer-center, .footer-right, .footer-left{
        flex: auto;
        width: auto;
    }

    .footer-left{
        margin-left: 0;
        margin-bottom: 25px;
    }

    .footer-right{
        display: none;
    }
}
